setuptools
appdirs == 1.4.3
packaging == 16.8
numpy
h5py
tifffile
pathos
cloud-volume

# Deep Learning framework
#http://download.pytorch.org/whl/cu90/torch-0.3.0.post4-cp35-cp35m-linux_x86_64.whl
#http://download.pytorch.org/whl/cu80/torch-0.3.1-cp35-cp35m-linux_x86_64.whl
#torchvision
#tensorflow-gpu
#onnx
#onnx-tf

scipy == 0.18.1
protobuf == 3.3.0
cloud-volume
#git+https://github.com/JuliaPy/pyjulia
opencv-python
opencv-contrib-python
tensorboardX
